.viola * { background: transparent; color:inherit }
.viola.viola { color:var(--loyal); background:var(--petal) }
.viola.ouija { color:var(--petal); background:var(--loyal) }
.viola ::selection { color: #090909; background: #ec0 }

.viola { --petal: #bae; --loyal: indigo }
.violet { --petal: violet; --loyal: indigo }
.blueviolet { --petal: blueviolet; --loyal: floralwhite }
.darkviolet { --petal: darkviolet; --loyal: floralwhite }
.palevioletred { --petal: palevioletred; --loyal: navy }
.mediumvioletred { --petal: mediumvioletred; --loyal: floralwhite }

.pad { padding: 1rem }
.macaw { margin: auto }
.bloom { display:flex; flex-flow:column; margin:auto }
.flood { font-size: max(1em, 5vmax); line-height:1.6 }
:focus { outline: thick dotted }
:hover { text-decoration-style: double }
